<a href="https://colab.research.google.com/github/A-Berton/python_exos/blob/main/LearnBasicPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "Jane"
num = 123
name2 = 'Jake'
print(name)

Jane

In [ ]:
#this is a tuples, but you have fewer possibilities (you can count them) = a collection that is ordered and unchangeable than with list, witch have plenty of methods available
names_tuples = ('Jane', 'Olivia', 'Lisa', 'Rose')

In [ ]:
# a set is a collection that is unordered and unindexed, no duplicate
fruit_set = {"apple", "pear","raspberry"}
#check if in a set
print("apple" in fruit_set)
fruit_set.add("grape")
print(fruit_set)
fruit_set.remove("pear")
print(fruit_set)
fruit_set.clear()
print(fruit_set)
#fruit_set.remove() // del fruit_set
#print(fruit_set) => produce an error the set doesn't exist anymore

True
{'apple', 'pear', 'raspberry', 'grape'}
{'apple', 'raspberry', 'grape'}
set()

In [ ]:
names = ['Jane', 'Olivia', 'Lisa', 'Rose']
names[1]
names[1:3]
names[2:]

['Lisa', 'Rose']

In [ ]:
names2 = ["Fred", "Loic"]
names2[1]

'Loic'

In [ ]:
names_combined = names + names2
print(names_combined)

['Jane', 'Olivia', 'Lisa', 'Rose', 'Fred', 'Loic']

In [ ]:
names_combined[1:-2]

['Olivia', 'Lisa', 'Rose']

In [ ]:
products = [["Jupes", 74],["Chaussures", 43], ["Lunettes",138]]

In [ ]:
products2 = [["Crayons", 7],["Stylos", 430], ["Téléphones",1]]

In [ ]:
products[1:]

[['Chaussures', 43], ['Lunettes', 138]]

In [ ]:
combined_products = products[1:] +  products2
print(combined_products)

[['Chaussures', 43], ['Lunettes', 138], ['Crayons', 7], ['Stylos', 430], ['Téléphones', 1]]

In [ ]:
combined_products[:-2]

[['Chaussures', 43], ['Lunettes', 138], ['Crayons', 7]]

In [ ]:
age = 25
pregnant = True
if 18<age<120 and  pregnant == False:
  print("You can buy a drink!")
elif age<10 :
  print("You should not be asking this question!")
elif 18<age<120 and  pregnant == True:
  print("You should not be asking this question!")
elif age>120 :
  print("Really?")
else:
  print("You cannot buy a drink")

You should not be asking this question!

In [ ]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
for product in products:
  print(product)

['Jupes', 74]
['Chaussures', 43]
['Lunettes', 138]

In [ ]:
#dictionaries ~ objects in js
person = {"name": "Loic", "age": "23"}
#if you use a property that doesn't exist you get an error
person["name"]

'Loic'

In [ ]:
#if you use get and use a property that doesn't exist you don't get an error, you get nothing
person.get("age")

'23'

In [ ]:
#you can use a default property if you are not sure
person.get("phone", "not found")

'not found'

In [ ]:
person.keys()

dict_keys(['name', 'age'])

In [ ]:
person.items()

dict_items([('name', 'Loic'), ('age', '23')])

In [ ]:
person.values()

dict_values(['Loic', '23'])

In [ ]:
for key, name in person.items():
  print(key, name)

name Loic
age 23

In [ ]:
#deconstructing variables
water = ["clear", "free", "cool"]

In [ ]:
#deconstructing variables
a,b,c = water

In [ ]:
#deconstructing variables
a
#it explains in 43 we use peron.items because it gives us a tuples of the list (see 39) and with key, names we deconstruct the list first

'clear'

In [ ]:
#if you have too much to unpack or just need to unpack one use the * before a variable to put the rest of the list on it
juice = ["orange", "apple", "lemon"]
e, *f = juice
f

['apple', 'lemon']

In [ ]:
#you can replace one or multiple values
juice[0:2] = ["coconut", "apricot"]
juice[2:] = ["pear"]
juice

['coconut', 'apricot', 'pear']

In [ ]:
#you can insert many in the place of one
vegetables = ["tomato", "carrot", "pumpkin"]
vegetables[1:2]=["cucumber","cauliflower", "eggplant", "leek"]
vegetables

['tomato', 'cucumber', 'cauliflower', 'eggplant', 'leek', 'pumpkin']

In [ ]:
#lambda function is an small anonymous function with a number of arguments and one expression : "lambda arguments : expression" - but to read it you must have a list
#here we put an "s" to every veggie!
newveggies = list(map(lambda vegetable : vegetable + "s", vegetables))
newveggies

['tomatos', 'cucumbers', 'cauliflowers', 'eggplants', 'leeks', 'pumpkins']

In [ ]:
newveggies2 = list(filter(lambda vegetable : vegetable[-1]== "r" , vegetables))
newveggies2

['cucumber', 'cauliflower']

In [ ]:
#another way to write the 53 without map  is List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list
newveggies3 = [vegetable + "z" for vegetable in vegetables]
newveggies3

['tomatoz', 'cucumberz', 'cauliflowerz', 'eggplantz', 'leekz', 'pumpkinz']

In [ ]:
#same with filter
newveggies3 = [vegetable + "z" for vegetable in vegetables if vegetable[-1]== "r"]
newveggies3

['cucumberz', 'cauliflowerz']

In [ ]:
#create a function
def sayHello(name):
  print(f'Hello {name}')

sayHello("Mike")

Hello Mike

In [ ]:
def getSum(num1, num2):
  return num1 + num2

print(getSum(2,4))

6

In [ ]:
num_loop = [1,2,3,4]
for i in num_loop:
  print(i)

1
2
3
4

In [ ]:
for i in range(2,12):
  print(i)

2
3
4
5
6
7
8
9
10
11

In [ ]:
for i in range(0,20,2):
  print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
for i in range(2,15):
  if(i == 4): break;
  else: print("still on it")

still on it
still on it

In [ ]:
count = 0
while count <= 10:
  print(f'count {count}')
  count+=1

count 0
count 1
count 2
count 3
count 4
count 5
count 6
count 7
count 8
count 9
count 10

In [ ]:
#import a module (on a file)
import datetime
today = datetime.date.today()
print(today)

2023-05-27

In [ ]:
from datetime import date
today = date.today()
print(today)
#python have pip to install modules (pip3 for python3), but if you install it like that you do it globaly, you cna do it in a virtual env (pipenv) and use it as a command line tool as npm!
#it is already configured and installed with python 3 on my PC
#you can also import yours own modules(cad files with all functions) the same way (as a file or by function) => nothing to do in the module itself, no need to export as in js

2023-05-27

In [ ]:
#class -OOP with prop and methods - (almost everything in python is an object)
# it is similar as in java or python
class User:
  #Constructor function that runs when you instanciate an object form a class - self remplace this
  def __init__(self, name, email, age):
    self.name = name
    self.email = email
    self.age = age

  # you have to use self and not name directly
  def greeting(self):
    return(f'My name is {self.name} and I am {self.age}')
  
  # ici une methode qui fait une action pas de return, attention au self
  def has_birthday(self):
    self.age += 1

#Initialize user obj
john = User('John Edwards', 'test@test.fr', 37)
print(type(john))
print(john.name)
#tricky : return dosen't rpint it just return it, but if 'john.greeting()' is the last called it is printed since the interactive prompt print the las thing returned
#john.greeting()
print(john.greeting())
john.has_birthday()
john.age

<class '__main__.User'>
John Edwards
My name is John Edwards and I am 37

38

In [ ]:
#you can also extend a class (but not extend keyword like in js and others) only pass the method as a parameter